@font-face {
    font-family: 'roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 16px;
}

header .container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

header .container .box .title {
    font-size: 3rem;
    color: #F9FAF8;
    font-weight: bold;
}

header .container .box .info,
header .container .box .title {
    width: 400px;
}

header .container .box .info,
header nav a {
    font-size: 1rem;
    color: #A9A9A9;
}

header {
    background-color: #1F2937;
    padding-top: 16px;
    padding-bottom: 50px;
}

header,
.content-3,
footer {
    padding-left: 200px;
    padding-right: 200px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header nav .title {
    font-size: 1.5rem;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    cursor: pointer;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.2);;
}

.button-1 button {
    font-size: 1rem;
    margin-top: 16px;
    padding: 8px 32px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    border: 2px solid #1F2937;
}

header .container .image {
    background-color: gray;
    height: 200px;
    width: 455px;
    flex-grow: .25;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

/* everything above this line is header or the wider structure of the layout*/


/* Everthing below this relates to .content-1 */

.content-1 {
    padding: 32px 300px 52px 300px;
}
.content-1 .title {
    text-align: center;
    color: #1F2937;
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 48px;
}

.content-1 .container {
    display: flex;
    justify-content: space-between;
    gap: 52px;
}

.content-1 .box{
    max-width: 175px;
}

.content-1 .smaller-box {
    border: 2px solid #3882F6;
    height: 175px;
    width: 175px;
    border-radius: 16px;
}

.content-1 .text {
    font-size: 1.1rem;
    color: #36454F;
    text-align: center;
}


/* Everything above this relates to .content-1 */

/* Everything below this relates to .content-2 */





/* Everything above this relates to .conten-2 */